@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: rgb(245, 245, 245);
  min-width: 100vw;
  min-height: 100vh;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueRegular.otf');
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueRegular-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueThin.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueThin-Italic.otf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueExtraLight-Italic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueLight.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueLight-Italic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueHeavy.otf');
  font-weight: 900;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueHeavy-Italic.otf');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueBold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'UniNeue';
  src: url('/fonts/UniNeueBold-Italic.otf');
  font-weight: 700;
  font-style: italic;
}
